:host {
  display: block;
  padding-left: 25px;
  
}

.menu-link {
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: -5px;
  font-weight: bold;
  color: #02aade;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.description {
    display:block;
}